html{
    background-color: lightblue;
}

.Disney-castle{
    height: 400px;
}
 .Mickey-red{
    color: red;
 }

 .Donald-Blue{
    color: blue;
 }

 .Listfont{
    font-style: italic;

 }